<div class="container-card">
    <form (submit)="makeLogin()" [formGroup]="formLogin">
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>
                    <p>Login</p>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Username" formControlName="username">
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Password" formControlName="password">
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                </p>
                <p *ngIf="formLogin.errors">
                    <mat-error>{{formLogin.errors | json}}</mat-error>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button type="submit" mat-flat-button>Login</button>
               
            </mat-card-actions>
        </mat-card>
    </form>
</div>