<app-header></app-header>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab *ngFor="let operation of operations; let j = index" [label]="operation[0]">
        <mat-card style="margin: 10px; max-width: 500px;" appearance="outlined">
            <mat-card-content>
                <div>
                    <form [formGroup]="operationsForms[j]" (submit)="submit(operationsForms[j])">
                        <h4>
                            <label>Operation: {{operationsForms[j].get('operation')?.value}}</label>
                        </h4>
                        <mat-form-field style="display: none">
                            <input matInput type="text" readonly="readonly" formControlName="operation">
                        </mat-form-field>
                        <div formArrayName="args">
                            <div *ngFor="let arg of getControls(operationsForms[j].get('args')); let i = index">
                                <mat-form-field>
                                    <input type="number" [placeholder]="'Number ' + (i + 1)" matInput
                                        [formControlName]="i">
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-divider style="margin: 10px 0;"></mat-divider>
                        <mat-form-field>
                            <label>Result</label>
                            <input readonly="readonly" placeholder="" matInput formControlName="result">
                        </mat-form-field>
                        <mat-divider style="margin: 10px 0;"></mat-divider>
                        <button type="submit" mat-raised-button color="primary">Make Operation</button>
                    </form>

                </div>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>